In [98]:
import pandas as pd
import numpy as np

In [100]:
"""
Questions to be answered

- How many sales they have made with amounts more than 1000
- How many sales have they made that belong to the Category "Top" and have a Quantity of 3.
- The Total Sales by Category
- Average Amount by Category and Status
- Total Sales by Fulfilment and Shipment type

"""

'\nQuestions to be answered\n\n- How many sales they have made with amounts more than 1000\n- How many sales have they made that belong to the Category "Top" and have a Quantity of 3.\n- The Total Sales by Category\n- Average Amount by Category and Status\n- Total Sales by Fulfilment and Shipment type\n\n'

In [7]:
#load sales data from the excel file into a pandas DataFrame
sales_data= pd.read_excel("C:/Users/Home/Desktop/sales_data.xlsx")

In [8]:
sales_data.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,0.0,Easy Ship
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,Blouse,...,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,0.0,Easy Ship
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,Blouse,...,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,1.0,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Dress,...,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,0.0,Easy Ship
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,0.0,NaN

In [11]:
sales_data.dtypes

index                   int64
Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
promotion-ids          object
B2B                   float64
fulfilled-by           object
dtype: object

In [13]:
# Check if DataFrame is empty
print(len(sales_data))

128975

In [15]:
#get summary of sales data
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128935 non-null  object
 18  ship-postal-code    128935 non-null  float64
 19  ship-country        128935 non-null  object
 20  promotion-ids       79815 non-null   object
 21  B2B                 128968 non-null  float64
 22  fulfilled-by        39276 non-null   object
dtypes: float64(3), int64(2), object(18)
memory usage: 22.6+ MB

In [17]:
sales_data.describe()

,index,Qty,Amount,ship-postal-code,B2B
count,128975.000000,128975.000000,121180.000000,128935.000000,128968.000000
mean,64487.000000,0.904431,648.561465,463963.108256,0.006754
std,37232.019822,0.313354,281.211687,191475.865632,0.081903
min,0.000000,0.000000,0.000000,110001.000000,0.000000
25%,32243.500000,1.000000,449.000000,382421.000000,0.000000
50%,64487.000000,1.000000,605.000000,500033.000000,0.000000
75%,96730.500000,1.000000,788.000000,600024.000000,0.000000
max,128974.000000,15.000000,5584.000000,989898.000000,1.000000

In [21]:
sales_data.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by'],
      dtype='object')

In [ ]:
#cleaning the data

In [25]:
#check for missing values in our sales data
sales_data.isnull().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               40
ship-postal-code         40
ship-country             40
promotion-ids         49160
B2B                       7
fulfilled-by          89699
dtype: int64

In [29]:
#drop any rows that has any missing/nan values
sales_data_dropped=sales_data.dropna()

In [31]:
#drop rows with missing amounts based on the amount column
sales_data_cleaned = sales_data.dropna(subset=['Amount'])

In [35]:
#check for missing values in our sales data cleaned
sales_data_cleaned.isnull().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         5136
Qty                       0
currency                  0
Amount                    0
ship-city                31
ship-state               38
ship-postal-code         38
ship-country             38
promotion-ids         41705
B2B                       7
fulfilled-by          83640
dtype: int64

In [39]:
#select a subset of our data where the Amount > 1000
high_amount_data = sales_data[sales_data['Amount'] > 1000]

print(high_amount_data)

         index             Order ID      Date                        Status  \
32          32  404-9632124-1107550  04-30-22  Shipped - Delivered to Buyer
43          43  408-3478480-0881162  04-30-22                       Shipped
46          46  408-3917043-5314763  04-30-22                       Shipped
52          52  408-7138000-9728362  04-30-22                       Shipped
69          69  405-6480932-8759528  04-30-22                       Shipped
...        ...                  ...       ...                           ...
128938  128938  403-6231612-3153120  05-31-22                       Shipped
128954  128954  403-8464685-9792368  05-31-22                       Shipped
128957  128957  402-8261465-0622733  05-31-22                       Shipped
128966  128966  406-9812666-2474761  05-31-22                       Shipped
128973  128973  402-6184140-0545956  05-31-22                       Shipped

       Fulfilment Sales Channel  ship-service-level   Style              SKU  \
32       Merchant      Amazon.in           Standard   J0011      J0011-LCD-M
43         Amazon      Amazon.in          Expedited  SET360   SET360-KR-NP-M
46         Amazon      Amazon.in          Expedited   J0230      J0230-SKD-L
52         Amazon      Amazon.in          Expedited  SET282   SET282-KR-PP-M
69         Amazon      Amazon.in          Expedited   J0381   J0381-SKD-XXXL
...           ...            ...                ...     ...              ...
128938     Amazon      Amazon.in          Expedited   J0002      J0002-SKD-S
128954     Amazon      Amazon.in          Expedited   J0376      J0376-SKD-S
128957     Amazon      Amazon.in          Expedited   J0230      J0230-SKD-M
128966     Amazon      Amazon.in          Expedited  SET224  SET224-KR-NP-XS
128973     Amazon      Amazon.in          Expedited   J0012     J0012-SKD-XS

       Category  ... Qty currency  Amount       ship-city      ship-state  \
32          Set  ...   1      INR  1233.0   VISAKHAPATNAM  ANDHRA PRADESH
43          Set  ...   1      INR  1126.0         LUCKNOW   UTTAR PRADESH
46          Set  ...   1      INR  1146.0          ONGOLE  ANDHRA PRADESH
52          Set  ...   1      INR  1033.0         dimapur        NAGALAND
69          Set  ...   1      INR  1146.0        VIJAPURA       KARNATAKA
...         ...  ...  ..      ...     ...             ...             ...
128938      Set  ...   1      INR  1186.0       GORAKHPUR   UTTAR PRADESH
128954      Set  ...   1      INR  1063.0       NEW DELHI           DELHI
128957      Set  ...   1      INR  1349.0          RANCHI       JHARKHAND
128966      Set  ...   1      INR  1132.0  CHENNAI 600042      TAMIL NADU
128973      Set  ...   1      INR  1199.0           Halol         Gujarat

        ship-postal-code ship-country  \
32              530016.0           IN
43              226017.0           IN
46              523001.0           IN
52              797112.0           IN
69              586201.0           IN
...                  ...          ...
128938          273006.0           IN
128954          110070.0           IN
128957          834002.0           IN
128966          600042.0           IN
128973          389350.0           IN

                                            promotion-ids  B2B fulfilled-by
32      Amazon PLCC Free-Financing Universal Merchant ...  0.0    Easy Ship
43           IN Core Free Shipping 2015/04/08 23-48-5-108  0.0          NaN
46                                                    NaN  0.0          NaN
52           IN Core Free Shipping 2015/04/08 23-48-5-108  0.0          NaN
69           IN Core Free Shipping 2015/04/08 23-48-5-108  0.0          NaN
...                                                   ...  ...          ...
128938                                                NaN  0.0          NaN
128954                                                NaN  0.0          NaN
128957       IN Core Free Shipping 2015/04/08 23-48-5-108  0.0          NaN
128966                                                NaN  0.0          NaN
128973       IN Core Free Shipping 2015/04/08 23-48-5-108  0.0          NaN

[13332 rows x 23 columns]

In [41]:
#select a subset of our data based on the Category column
category_data = sales_data[sales_data['Category']=='Top']

print(category_data)

         index             Order ID      Date                        Status  \
4            4  407-1069790-7240320  04-30-22                       Shipped
47          47  408-9281152-6213100  04-30-22                       Shipped
54          54  402-7944191-1869101  04-30-22                       Shipped
67          67  404-4535078-5241919  04-30-22                       Shipped
109        109  403-7266170-1163500  04-30-22  Shipped - Delivered to Buyer
...        ...                  ...       ...                           ...
128923  128923  402-1698543-5164342  05-31-22                       Shipped
128941  128941  403-3035549-4142738  05-31-22                       Shipped
128942  128942  403-3035549-4142738  05-31-22                       Shipped
128949  128949  403-7050981-8813953  05-31-22                       Shipped
128965  128965  408-5154281-4593912  05-31-22                     Cancelled

       Fulfilment Sales Channel  ship-service-level    Style              SKU  \
4          Amazon      Amazon.in          Expedited  JNE3671  JNE3671-TU-XXXL
47         Amazon      Amazon.in          Expedited  JNE3744     JNE3744-TU-S
54         Amazon      Amazon.in          Expedited    J0301       J0301-TP-L
67         Amazon      Amazon.in          Expedited  JNE3645   JNE3645-TP-N-L
109      Merchant      Amazon.in           Standard  JNE3648   JNE3648-TP-N-M
...           ...            ...                ...      ...              ...
128923     Amazon      Amazon.in          Expedited    J0418      J0418-TP-XL
128941     Amazon      Amazon.in          Expedited    J0118     J0118-TP-XXL
128942     Amazon      Amazon.in          Expedited    J0301     J0301-TP-XXL
128949     Amazon      Amazon.in          Expedited    J0113       J0113-TP-M
128965     Amazon      Amazon.in          Expedited    J0119    J0119-TP-XXXL

       Category  ... Qty currency Amount              ship-city  \
4           Top  ...   1      INR  574.0                CHENNAI
47          Top  ...   1      INR  665.0           SECUNDERABAD
54          Top  ...   1      INR  493.0              BENGALURU
67          Top  ...   1      INR  432.0                   PUNE
109         Top  ...   1      INR  518.0                 MUMBAI
...         ...  ...  ..      ...    ...                    ...
128923      Top  ...   1      INR  749.0              HYDERABAD
128941      Top  ...   1      INR  529.0              BENGALURU
128942      Top  ...   1      INR  518.0              BENGALURU
128949      Top  ...   1      INR  574.0                CHENNAI
128965      Top  ...   1      INR  574.0  Prayagraj (ALLAHABAD)

           ship-state  ship-postal-code ship-country  \
4          TAMIL NADU          600073.0           IN
47          TELANGANA          500017.0           IN
54          KARNATAKA          560076.0           IN
67        MAHARASHTRA          411014.0           IN
109       MAHARASHTRA          400076.0           IN
...               ...               ...          ...
128923      TELANGANA          500084.0           IN
128941      KARNATAKA          560102.0           IN
128942      KARNATAKA          560102.0           IN
128949     TAMIL NADU          600021.0           IN
128965  UTTAR PRADESH          211007.0           IN

                                            promotion-ids  B2B fulfilled-by
4                                                     NaN  0.0          NaN
47           IN Core Free Shipping 2015/04/08 23-48-5-108  0.0          NaN
54           IN Core Free Shipping 2015/04/08 23-48-5-108  0.0          NaN
67           IN Core Free Shipping 2015/04/08 23-48-5-108  0.0          NaN
109     Amazon PLCC Free-Financing Universal Merchant ...  0.0    Easy Ship
...                                                   ...  ...          ...
128923  IN Core Free Shipping 2015/04/08 23-48-5-108,V...  0.0          NaN
128941                                                NaN  0.0          NaN
128942                                                NaN  0.0          NaN
128949                                                NaN  0.0          NaN
128965                                                NaN  0.0          NaN

[10622 rows x 23 columns]

In [47]:
#select a subset of data based on multiple conditions
filtered_data = sales_data[(sales_data['Category'] == 'Top') & (sales_data['Qty'] == 3)]

print(filtered_data)

       index             Order ID                 Date  \
57091  57091  405-3036482-4663513             05-25-22
79902  79902  405-4225331-3338755  2005-07-22 00:00:00
79903  79903  405-4225331-3338755  2005-07-22 00:00:00

                             Status Fulfilment Sales Channel   \
57091                       Shipped     Amazon      Amazon.in
79902  Shipped - Returned to Seller   Merchant      Amazon.in
79903  Shipped - Returned to Seller   Merchant      Amazon.in

      ship-service-level    Style           SKU Category  ... Qty currency  \
57091          Expedited    J0119  J0119-TP-XXL      Top  ...   3      INR
79902           Standard  JNE3671  JNE3671-TU-M      Top  ...   3      INR
79903           Standard  JNE3673  JNE3673-TU-M      Top  ...   3      INR

       Amount     ship-city   ship-state  ship-postal-code ship-country  \
57091  1722.0      DOMBIVLI  MAHARASHTRA          421201.0           IN
79902  1764.0  MAHENDRAGARH      HARYANA          123029.0           IN
79903  1797.0  MAHENDRAGARH      HARYANA          123029.0           IN

                                           promotion-ids  B2B fulfilled-by
57091       IN Core Free Shipping 2015/04/08 23-48-5-108  0.0          NaN
79902  Amazon PLCC Free-Financing Universal Merchant ...  0.0    Easy Ship
79903  Amazon PLCC Free-Financing Universal Merchant ...  0.0    Easy Ship

[3 rows x 23 columns]

In [49]:
#aggregrating data

In [57]:
#total sales by category
category_totals = sales_data.groupby('Category')['Amount'].sum()

print(category_totals)

Category
Blouse    21757954.88
Bottom      150667.98
Dress     12131224.11
Scarf          915.00
Set       39204124.03
Top        5347792.30
Name: Amount, dtype: float64

In [65]:
category_totals = sales_data.groupby('Category', as_index = False)['Amount'].sum()
category_totals = category_totals.sort_values('Amount', ascending = False)

print(category_totals)

  Category       Amount
4      Set  39204124.03
0   Blouse  21757954.88
2    Dress  12131224.11
5      Top   5347792.30
1   Bottom    150667.98
3    Scarf       915.00

In [75]:
#calculate the average Amount by Category and Fulfilment
fulfilment_averages = sales_data.groupby(['Category', 'Fulfilment'], as_index = False)['Amount'].mean()
fulfilment_averages = fulfilment_averages.sort_values('Amount', ascending = False)

print(fulfilment_averages)

   Category Fulfilment      Amount
7       Set     Amazon  838.042180
8       Set   Merchant  822.466512
4     Dress     Amazon  776.077009
5     Dress   Merchant  740.499730
9       Top     Amazon  536.449448
10      Top   Merchant  493.678577
0    Blouse     Amazon  459.493705
1    Blouse   Merchant  451.327641
2    Bottom     Amazon  365.080508
3    Bottom   Merchant  350.592283
6     Scarf     Amazon  305.000000

In [79]:
#calculate the average Amount by Category and Status
status_averages = sales_data.groupby(['Category', 'Status'], as_index = False)['Amount'].mean()
status_averages = status_averages.sort_values('Amount', ascending = False)

print(status_averages)

   Category                         Status       Amount
24    Dress              Shipped - Damaged  1136.000000
39      Set     Shipped - Out for Delivery   908.105263
29    Dress    Shipped - Rejected by Buyer   899.000000
43      Set  Shipped - Returning to Seller   875.835616
40      Set            Shipped - Picked Up   846.322660
34      Set                        Pending   837.629482
36      Set                        Shipped   836.530584
37      Set   Shipped - Delivered to Buyer   827.042759
33      Set                      Cancelled   826.970953
42      Set   Shipped - Returned to Seller   824.475817
35      Set  Pending - Waiting for Pick Up   791.120370
31    Dress  Shipped - Returning to Seller   782.642857
23    Dress                        Shipped   774.604673
22    Dress  Pending - Waiting for Pick Up   767.531646
27    Dress     Shipped - Out for Delivery   765.000000
20    Dress                      Cancelled   752.765319
41      Set    Shipped - Rejected by Buyer   748.666667
21    Dress                        Pending   744.818182
25    Dress   Shipped - Delivered to Buyer   744.078590
30    Dress   Shipped - Returned to Seller   730.042424
28    Dress            Shipped - Picked Up   724.206349
54      Top  Shipped - Returning to Seller   577.000000
8    Blouse    Shipped - Rejected by Buyer   544.500000
46      Top                        Pending   543.327273
45      Top                      Cancelled   535.254885
48      Top                        Shipped   534.187807
47      Top  Pending - Waiting for Pick Up   530.210526
6    Blouse     Shipped - Out for Delivery   521.800000
19   Bottom  Shipped - Returning to Seller   518.000000
53      Top   Shipped - Returned to Seller   511.699187
50      Top     Shipped - Out for Delivery   503.600000
38      Set      Shipped - Lost in Transit   499.500000
5    Blouse      Shipped - Lost in Transit   499.000000
49      Top   Shipped - Delivered to Buyer   494.132292
2    Blouse  Pending - Waiting for Pick Up   484.739726
7    Blouse            Shipped - Picked Up   484.421405
51      Top            Shipped - Picked Up   479.086957
10   Blouse  Shipped - Returning to Seller   475.314286
1    Blouse                        Pending   465.624000
3    Blouse                        Shipped   459.515805
9    Blouse   Shipped - Returned to Seller   458.880330
4    Blouse   Shipped - Delivered to Buyer   452.251719
0    Blouse                      Cancelled   448.172337
52      Top    Shipped - Rejected by Buyer   407.500000
12   Bottom                      Cancelled   371.097073
15   Bottom                        Shipped   368.262443
16   Bottom   Shipped - Delivered to Buyer   349.748201
32    Scarf                        Shipped   305.000000
14   Bottom  Pending - Waiting for Pick Up   301.000000
18   Bottom   Shipped - Returned to Seller   292.200000
17   Bottom            Shipped - Picked Up   287.100000
13   Bottom                        Pending     0.000000
26    Dress      Shipped - Lost in Transit     0.000000
11   Blouse                       Shipping          NaN
44      Set                       Shipping          NaN
55      Top                       Shipping          NaN

In [86]:
#calculate the total sales by shipment and Fulfilment
total_sales_shipandfulfil = sales_data.groupby(['Courier Status', 'Fulfilment'], as_index = False)['Amount'].sum()
total_sales_shipandfulfil = total_sales_shipandfulfil.sort_values('Amount', ascending = False)

print(total_sales_shipandfulfil)

  Courier Status Fulfilment      Amount
1        Shipped     Amazon  50331934.0
2        Shipped   Merchant  20726730.0
3      Unshipped     Amazon   3990217.0
4      Unshipped   Merchant    353625.0
0      Cancelled     Amazon         0.0

In [90]:
#renaming columns in a dataframe
total_sales_shipandfulfil.rename(columns={'Courier Status': 'Shipment'}, inplace=True)

print(total_sales_shipandfulfil)

    Shipment Fulfilment      Amount
1    Shipped     Amazon  50331934.0
2    Shipped   Merchant  20726730.0
3  Unshipped     Amazon   3990217.0
4  Unshipped   Merchant    353625.0
0  Cancelled     Amazon         0.0

In [92]:
#exporting the data

status_averages.to_excel('average_sales_by_category_and_status.xlsx',index=False)

In [94]:
total_sales_shipandfulfil.to_excel('total_sales_by_ship_and_fulfil.xlsx', index=False)

In [96]:
import os
print(os.getcwd())  # Prints the current working directory

C:\Users\Home